<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>comments</title>
    <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ static_url("css/materialize.css") }}">
    <link rel="stylesheet" href="{{ static_url("css/topic.css") }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
</head>
<body>
    <div id="wrapper">
        <div id="scroller">
            <div id="pullDown">
                <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新</span>
            </div>
            <ul id="comment"></ul>
            <div id="pullUp">
                <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多评论</span>
            </div>
        </div>
    </div>
    <input id="topic_id" type="hidden" value="{{topic_id}}" />
</div>
<script type="text/javascript" src="{{ static_url("js/jquery-2.1.1.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/jquery-ui.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/materialize.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/iscroll.js") }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.modal-trigger').leanModal();
    });
    var num = 5;
    var cursor = 0;
    var nums = 0;
    var topic_id = $("#topic_id").val();
    var url = "http://121.42.145.214:8888/comments/id/" + topic_id + "?num=" + num + "&cursor=" + cursor;
    var pre = false;
    $.ajax({
        type: "HTTP",
        method: "GET",
        url: url,
        datatype: "json",
        success: function (data) {
            var comments = JSON.parse(data);
            if (comments["nums"]){
                nums = comments["nums"];
                $("#comment_count").html("评论数为" + nums);
            }
            else
            {
                $("#comment_count").html("暂时没有评论");
                return;
            }
            pre = comments["pre"];
            cursor = comments["current_cursor"];
            cursor--;
            var lis = comments["comments"];
            console.log(comments);
            console.log(lis);
            for (var i = 0; i < lis.length; i++) {
                var str = "<li><span class=\"author\">" + lis[i]["author"] + "</span><time>" + lis[i]["commit_time"] + "</time><p>" + lis[i]["content"] + "</p></li>";
                $("#comment").append(str);
            }
        },
        error: function (e) {
            console.log(e);
        }
    });



    var myScroll,
            pullDownEl, pullDownOffset,
            pullUpEl, pullUpOffset,
            generatedCount = 0;
    loaded();

    function pullDownAction () {
        url = "http://121.42.145.214:8888/comments/id/" + topic_id + "?num=" + num + "&cursor=0";
        $.ajax({
            type: "HTTP",
            method: "GET",
            url: url,
            datatype: "json",
            success: function (data) {
                var comments = JSON.parse(data);
                if (comments["nums"]) {
                    nums = comments["nums"];
                    $("#comment_count").html("评论数为" + nums);
                }
                else {
                    $("#comment_count").html("暂时没有评论");
                    return;
                }
                pre = comments["pre"];
                cursor = comments["current_cursor"];
                cursor--;
                var lis = comments["comments"];
                console.log(comments);
                console.log(lis);
                $("#comment").empty();
                for (var i = 0; i < lis.length; i++) {
                    var str = "<li><span class=\"author\">" + lis[i]["author"] + "</span><time>" + lis[i]["commit_time"] + "</time><p>" + lis[i]["content"] + "</p></li>";
                    $("#comment").append(str);
                }
				pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多评论';
            },
            error: function (e) {
                console.log(e);
            }
        });
        myScroll.refresh();
    }

    function pullUpAction () {
        if (pre) {
            pullUpEl.querySelector('.pullUpLabel').innerHTML = '没有更多评论了';
            return;
        } else {
            pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多评论';
        }
        url = "http://121.42.145.214:8888/comments/id/" + topic_id + "?num=" + num + "&cursor=" + cursor;
        $.ajax({
            type: "HTTP",
            method: "GET",
            url: url,
            datatype: "json",
            success: function (data) {
                var comments = JSON.parse(data);
                if (comments["nums"]){
                    nums = comments["nums"];
                    $("#comment_count").html("评论数为" + nums);
                }
                else
                {
                    $("#comment_count").html("暂时没有评论");
                    return;
                }
                pre = comments["pre"];
                cursor = comments["current_cursor"];
                cursor--;
                var lis = comments["comments"];
                console.log(comments);
                console.log(lis);
                for (var i = 0; i < lis.length; i++) {
                    var str = "<li><span class=\"author\">" + lis[i]["author"] + "</span><time>" + lis[i]["commit_time"] + "</time><p>" + lis[i]["content"] + "</p></li>";
                    $("#comment").append(str);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
        myScroll.refresh();		// Remember to refresh when contents are loaded (ie: on ajax completion)
    }

    function loaded() {
        pullDownEl = document.getElementById('pullDown');
        pullDownOffset = pullDownEl.offsetHeight;
        pullUpEl = document.getElementById('pullUp');
        pullUpOffset = pullUpEl.offsetHeight;

        myScroll = new iScroll('wrapper', {
            useTransition: true,
            topOffset: pullDownOffset,
            onRefresh: function () {
                if (pullDownEl.className.match('loading')) {
                    pullDownEl.className = '';
                    pullDownEl.querySelector('.pullDownLabel').innerHTML = '向下拉刷新';
                } else if (pullUpEl.className.match('loading')) {
                    pullUpEl.className = '';
                    pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多评论';
                }
            },
            onScrollMove: function () {
				if (this.y < -100000) this.y = 0;
				if ($("#comment li").length < 8) this.maxScrollY = -84;
                if (this.y > 5 && !pullDownEl.className.match('flip')) {
                    pullDownEl.className = 'flip';
                    pullDownEl.querySelector('.pullDownLabel').innerHTML = '松开后重新加载';
                    this.minScrollY = 0;
                } else if (this.y < 5 && pullDownEl.className.match('flip')) {
                    pullDownEl.className = '';
                    pullDownEl.querySelector('.pullDownLabel').innerHTML = '下拉重新加载';
                    this.minScrollY = -pullDownOffset;
                } else if (this.y < (this.maxScrollY - 5) && !pullUpEl.className.match('flip')) {
                    pullUpEl.className = 'flip';
                    pullUpEl.querySelector('.pullUpLabel').innerHTML = '松开后重新加载';
                    this.maxScrollY = this.maxScrollY;
                } else if (this.y > (this.maxScrollY + 5) && pullUpEl.className.match('flip')) {
                    pullUpEl.className = '';
                    pullUpEl.querySelector('.pullUpLabel').innerHTML = '上拉加载更多评论';
                    this.maxScrollY = pullUpOffset;
                }
            },
            onScrollEnd: function () {
                if (pullDownEl.className.match('flip')) {
                    pullDownEl.className = 'loading';
                    pullDownEl.querySelector('.pullDownLabel').innerHTML = '加载中...';
                    pullDownAction();	// Execute custom function (ajax call?)
                } else if (pullUpEl.className.match('flip')) {
                    pullUpEl.className = 'loading';
                    pullUpEl.querySelector('.pullUpLabel').innerHTML = '加载中...';
                    pullUpAction();	// Execute custom function (ajax call?)
                }
            }
        });
    }

    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
</script>
</body>
</html>
