<html>
    <head><title>SRE Register</title></head>
    <body>
        <form action='valid' enctype="multipart/form-data" method='post'>
            <input type='file' name='UploadFile'/><br/>
			<div style="display:inline">
            	<p style="display:inline">userid:</p>
				<input style="display:inline" type='text' name='UserId'/><br/>
			</div>
			<div style="display:inline">
				<p style="display:inline">isself:</p>
				<select name='IsSelf' style="display:inline">
					<option value='yes'>Yes</option>
					<option value='no'>No</option>
				</select>
			</div>
            <input type='submit' value='submit'/>
        </form>
    </body>
</html>
